{#
/**
 * @file eepal_admin_area.html.twig
 * Default theme implementation to present Eepal admin area data.
 *
 * This template is used when viewing Eepal admin area pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_eepal_admin_area()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('eepal_admin_area') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
