dist/*
node_modules/*
!drupal/
drupal/*
!drupal/modules/
drupal/modules/*
!drupal/modules/epal/
!drupal/modules/epalreadydata/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Sass cache folder
.sass-cache

# Users Environment Variables
npm-debug*
# bower_components

# Project reference
# typings

