<div class="row equal">
 <div class="col-md-8">
  <form novalidate  (ngSubmit)="onSubmit(studentDataGroup)" [formGroup]="studentDataGroup">
    <div *ngFor="let studentDataField$ of studentDataFields$ | async; "> </div>
    <!--
    <div class="form-group">
        <label for="studentAmka">ΑΜΚΑ μαθητή</label><input class="form-control" type="text" formControlName="studentAmka">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('studentAmka').touched && studentDataGroup.get('studentAmka').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('studentAmka').dirty && studentDataGroup.get('studentAmka').hasError('pattern')">
        Επιτρέπονται μόνο ψηφία σε αυτό το πεδίο!
    </div>
  -->

    <div class="form-group">
        <label for="name">Όνομα μαθητή</label><input class="form-control" type="text" formControlName="name">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('name').touched && studentDataGroup.get('name').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('name').dirty && studentDataGroup.get('name').hasError('pattern')">
        Δεν επιτρέπονται ψηφία ή άλλοι μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
    </div>

    <div class="form-group">
        <label for="studentsurname">Επώνυμο μαθητή</label><input class="form-control" type="text" formControlName="studentsurname">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('studentsurname').touched && studentDataGroup.get('studentsurname').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('studentsurname').dirty && studentDataGroup.get('studentsurname').hasError('pattern')">
        Δεν επιτρέπονται ψηφία ή άλλοι μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
    </div>

    <!--
    <div class="form-group">
        <label for="guardianfirstname">Όνομα κηδεμόνα</label><input class="form-control" type="text" formControlName="guardianfirstname">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('guardianfirstname').touched && studentDataGroup.get('guardianfirstname').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('guardianfirstname').dirty && studentDataGroup.get('guardianfirstname').hasError('pattern')">
        Δεν επιτρέπονται ψηφία ή άλλοι μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
    </div>

    <div class="form-group">
        <label for="guardiansurname">Επώνυμο κηδεμόνα</label>
        <input class="form-control" type="text" formControlName="guardiansurname">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('guardiansurname').touched && studentDataGroup.get('guardiansurname').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('guardiansurname').dirty && studentDataGroup.get('guardiansurname').hasError('pattern')">
        Δεν επιτρέπονται ψηφία ή άλλοι μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
    </div>
  -->

    <table>
        <tr>
            <td>
                <div class="form-group">
                    <label for="regionaddress">Διεύθυνση κατοικίας</label><input class="form-control" type="text" formControlName="regionaddress">
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regionaddress').touched && studentDataGroup.get('regionaddress').hasError('required')">
                    Το πεδίο δεν μπορεί να αφεθεί κενό!
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regionaddress').dirty && studentDataGroup.get('regionaddress').hasError('pattern')">
                    Δεν επιτρέπονται μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="regiontk">TK </label><input class="form-control" type="text" formControlName="regiontk">
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regiontk').touched && studentDataGroup.get('regiontk').hasError('required')">
                    Το πεδίο δεν μπορεί να αφεθεί κενό!
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regiontk').dirty && studentDataGroup.get('regiontk').hasError('pattern')">
                    Δεν επιτρέπονται γράμματα αλφαβήτου ή μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="regionarea">Πόλη/Περιοχή</label><input class="form-control" type="text" formControlName="regionarea">
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regionarea').touched && studentDataGroup.get('regionarea').hasError('required')">
                    Το πεδίο δεν μπορεί να αφεθεί κενό!
                </div>
                <div class="alert alert-danger" *ngIf="studentDataGroup.get('regionarea').dirty && studentDataGroup.get('regionarea').hasError('pattern')">
                    Δεν επιτρέπονται μη έγκυροι χαρακτήρες σε αυτό το πεδίο!
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="certificatetype">Τύπος απολυτηρίου</label><br/>
        <select class="form-control" formControlName="certificatetype">
        <option value="">Παρακαλώ επιλέξτε..</option>
        <option value="Απολυτήριο Γυμνασίου">Απολυτήριο Γυμνασίου</option>
        <option value="Απολυτήριο Λυκείου">Απολυτήριο Λυκείου</option>
    </select>
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('certificatetype').dirty && studentDataGroup.get('certificatetype').hasError('required')">
        Η επιλογή από αυτή τη λίστα είναι απαραίτητη!
    </div>

    <div class="form-group">
        <label for="relationtostudent">Η αίτηση γίνεται από:</label><br/>
        <select class="form-control" formControlName="relationtostudent">
        <option value="">Παρακαλώ επιλέξτε..</option>
        <option value="Γονέας/Κηδεμόνας">Γονέας/Κηδεμόνας</option>
        <option value="Μαθητής">Μαθητής</option>
    </select>
        <div class="alert alert-danger" *ngIf="studentDataGroup.get('relationtostudent').dirty && studentDataGroup.get('relationtostudent').hasError('required')">
            Η επιλογή από αυτή τη λίστα είναι απαραίτητη!
        </div>
    </div>

    <div class="form-group">
        <label for="telnum">Τηλέφωνο επικοινωνίας</label><input class="form-control" type="text" formControlName="telnum">
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('telnum').touched && studentDataGroup.get('telnum').hasError('required')">
        Το πεδίο δεν μπορεί να αφεθεί κενό!
    </div>
    <div class="alert alert-danger" *ngIf="studentDataGroup.get('telnum').dirty && studentDataGroup.get('telnum').hasError('pattern')">
        Επιτρέπονται μόνο ψηφία σε αυτό το πεδίο!
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <button type="button" class="btn-primary btn-lg pull-center" (click)="saveSelected()">
                <span class="glyphicon glyphicon-menu-left"></span>Πίσω
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn-primary btn-lg pull-center" (click)="submitSelected()" [disabled]="studentDataGroup.invalid">
                Συνέχεια<span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </div>

  </form>
</div>

<div class="col-md-4">
  <application-preview-select></application-preview-select>
</div>
