.main-wrapper {
	 background: #FFF none repeat-y 0 0;
	 min-height: calc(100vh - 220px);
	#content {
		zoom: 1;
		background-color: white;
		box-shadow: none;
	    position: relative;
	    z-index: 0;
	    padding: 15px 10px 10px;
		//padding: 0 10px 10px;
		margin-top: 0;
		.crumb {
		    border-bottom: 1px solid #EFEFEF!important;
		    border-top: 1px solid #EFEFEF!important;
		    color: #333333!important;
		    display: block!important;
		    font: 12px 'Trebuchet MS',Helvetica,Arial,Verdana,sans-serif!important;
		    padding: 8px 8px 8px 0!important;
		    background-color: white;
		}
		.left-sidebar {
			background-color: #EEEEEE;
			padding: 10px;
			.navig-left-img {
				text-align: center;
			}
			.content {
				margin-left: 1.4%;
			}
			.small-text {
				font-weight: bold;
				font-size: 8pt!important;
                line-height: 1.4em!important;
                margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}

            .left-choices {
            	h4{

					font-weight: bold;
					font-size: 1rem;
            	}
	           }

	        .btn-primary {
	        	background-color:#fd9665;
	        	border: none!important;
	        	width: 200px;
				padding:5px 10px;

	        }


		}


		.main-content{


			.btn {
	        	background-color:#fd9665;
	        	border: none!important;
			}


			.btn-primary {
	        	background-color:#fd9665;
	        	border: none!important;
	        	width: 120px;
	        }

			li.list-group-item{
				color: black;
	//			background-color: white;
				border: none!important;
			    padding: 0.3rem 0.3rem!important;
				h5{
					font-size: 1rem;
				}


			}

		}
	}
	}




@include media-breakpoint-up(md) {
   .main-wrapper {
   	#content {
   		padding: 0 10px 10px;
   		box-shadow: 0 0 20px #888888;
     }
   }
}
