.nav-wrapper {
  .navbar-toggler {
    border: 2px solid #f15a26;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
   .navbar-collapse { 
     height: auto;
      .navbar-nav {
        padding-bottom: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
         li a.active {
              &::after{
                   border-width: 0px;
              }
         }
         a {
          &:hover:after { 
            border-width: 0px;
          }
         }
         
      }
   }
}

.nav-wrapper {
  z-index: 1;
  position: relative;
  background-color: #fff;
  .navbar {
    margin-top: 10px;
    padding-top: 0;
 
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .navbar-collapse {
   // height: 46px;
  .navbar-nav {
    padding-bottom: 0px;

    li {
      float: none;
      display: block;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }
    li a.active {
      color: #fff;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(0,0,0,0.5);
      background: #f15a23;
     // box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
      &::after{
           // border-left: 10px solid transparent;
           // border-right: 10px solid transparent;
           // border-top: 7px solid #f15a23;
           // content: "";
           // display: block;
           // height: 0;
           // margin: 0px auto 0 auto;
           // width: 0;
      }
    }
    a {
        display: block;
        padding: 0px 21px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        height: 46px;
        line-height: 46px;
          &:hover {
          background: #ddd;
         // box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
          }
          &:hover:after {
          //  border-left: 10px solid transparent;
          //  border-right: 10px solid transparent;
          //  border-top: 7px solid #ddd;
          //  content: "";
          //  display: block;
          //  height: 0;
          //  margin: 0px auto 0 auto;
           // width: 0;
          }
        }
       }
  }
 }



@include media-breakpoint-up(md) {
.nav-wrapper {
  .navbar {
    padding-bottom: 0;    
  }
   .navbar-collapse { 
     height: 46px;
      .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
         li a.active {
          box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
              &::after{
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 7px solid #f15a23;
            content: "";
            display: block;
            height: 0;
            margin: 0px auto 0 auto;
            width: 0;
              }
        }
        
        a {
          &:hover {
             box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
          }
          &:hover:after {
             border-left: 10px solid transparent;
             border-right: 10px solid transparent;
             border-top: 7px solid #ddd;
             content: "";
             display: block;
             height: 0;
             margin: 0px auto 0 auto;
             width: 0;
          }
        }
  
      }
   }
}
}