  <div class="main-wrapper">
    <div class="container" id="content">
      <div class="row">
      &nbsp;&nbsp;&nbsp;
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-3 hidden-md-down">
          <div class="left-sidebar">
           <div class="navig-left-img">
               <img src="../myschool/assets/images/default.png" alt="">
          </div>
          <br>
          <br>
          <div class="left-choices">
            <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn-primary btn-lg pull-left isclickable" style="width: 10em;" (click)="navigatelegal()" >
                    <span style="font-size: 0.9em; font-weight: bold;"> Νομοθεσία </span>
                </button>
            </div>
            </div>
          </div>

         <div class="left-choices">
            <application-preview-select></application-preview-select>
         </div>

        </div>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="main-content">
           
           <div class="panel panel-primary">
            <div class="panel-body">
              <router-outlet></router-outlet>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
