<div class="loading" *ngIf="(showLoader$ | async) === true"></div>
<div id="headerNotice" (onHidden)="onHidden()" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header {{modalHeader | async}}">
                <h3 class="modal-title pull-left"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{ modalTitle | async }}</h3>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
            </div>
            <div class="modal-body">
                <p>{{ modalText | async }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Κλείσιμο</button>
            </div>
        </div>
    </div>
</div>
<div class="header-wrapper">
    <header id="navbar" role="banner" class="navbar navbar-default">
        <div class="container">
            <div *ngFor="let loginInfoRow$ of loginInfo$ | async; let i=index;">
                <ul class="navbar-nav">
                    <div *ngIf="loginInfoRow$.cu_name !== ''">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-home isclickable" (click)="goHome()"></i>
                                <span class="signout isclickable" (click)="goHome()" style="color:#CC3300;">&nbsp;&nbsp;Αρχική</span>
                            </div>
                            <div class="col-md-2">
                                 <span *ngIf="loginInfoRow$.auth_role===studentRole" class="signout isclickable" (click)="gohelpDesk()" style="color:#CC3300;">Επικοινωνία</span>
                            </div>
                        <div class="col-md-4">
                                 <span *ngIf="loginInfoRow$.auth_role===studentRole" class="signout" style="color:#CC3300;">
                                <div *ngFor="let TotalStudent$  of TotalStudents$ | async;">
                                    Σύνολο Αιτήσεων:{{TotalStudent$.numStudents}}
                                </div>
                                </span>
                        </div>
      


                            <div class="col-md-4" style="text-align: right">
                                <span class="username" style="text-align: right">{{ cuName }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="signout isclickable" style="text-align: right" (click)="signOut()" style="color:#CC3300;">Αποσύνδεση&nbsp;&nbsp;</span>
                                <i class="fa fa-sign-out isclickable" style="text-align: right" (click)="signOut()"></i>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </header>
</div>
