{#
/**
 * @file epal_student_class.html.twig
 * Default theme implementation to present EPAL Student Class data.
 *
 * This template is used when viewing EPAL Student Class pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epal_student_class()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epal_student_class') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
