{#
/**
 * @file epal_student_epal_chosen.html.twig
 * Default theme implementation to present Epal student epal chosen data.
 *
 * This template is used when viewing Epal student epal chosen pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epal_student_epal_chosen()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epal_student_epal_chosen') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
