{#
/**
 * @file epal_student_course_field.html.twig
 * Default theme implementation to present Epal student course field data.
 *
 * This template is used when viewing Epal student course field pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epal_student_course_field()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epal_student_course_field') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
